input[type="text"],
textarea {
  width: 100%;
  margin: auto;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.923);
  resize: none;
}

.submit {
  background-color: var(--dark-grey);
  color: white;
  padding: 12px 20px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

.submit:hover {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  transition: 0.3s;
}

.contact-container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}
