* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --white: #efefef;
  --blue: #03718b;
  --dark-grey: #454545;
  --semi-grey: #5e5e5e;
  --light-grey: #828282;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  filter: invert(1);
}

body {
  width: 98vw;
  margin: auto;
  padding: 10px;
  background-image: url("./assets/images/midist.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 50vw;
  background-position: bottom right;
  background-attachment: fixed;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  padding: 60px 0px 50px;
  background-image: url(./assets/images/midist-banner.jpg);
  background-size: 125%;
  background-position: top;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  padding: 20px 0px;
}

/* Main sections */
.section {
  width: 40vw;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}
